.map-wrapper {
  width: 100%;
  height: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
}

.mapboxgl-popup-content {
  padding:0;
  width: 350px;
  /* background-color: rgba(34, 34, 34, 0.842) !important; */
  background-color: transparent !important;
  color: #ddd;
  box-shadow: none !important;
}

.mapboxgl-close-popup-button {
  position: absolute;
    padding: 0.25rem 0.75rem;
    font-weight: 700;
    top: -20px;
    right: 10px;
    width: 90px;
    border-radius: 5px;
    border: 0;
    text-align: center;
    color: #923333c7;
    background-color: rgba(34, 34, 34, 0.932);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}


.mapboxgl-close-popup-button:hover {
  background-color: #ddd;
}

.popup-content {
  width:350px;
}

.popup-content .popup-header {
  background-color: #fff;
  color: #ddd;
  padding: 10px 8px;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid #ddd;
}


.popup-content .popup-body {
  position: absolute;
  left:-100%;
  /* padding:10px 10px 15px; */
  opacity: 1;
  transition: all 1.5s ease;
  background-color: white;
  width: 350px;
}

.popup-body h1 {
  margin: 0;
  text-transform: capitalize;
}

.popup-section__inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.popup-item {
  display: flex;
  font-size: 0.8rem;
}

.popup-item > div {
  font-weight: 600;
  font-size: 13px;
  color:#ddd;
}
.popup-section {
  background-color: rgba(34, 34, 34, 0.87);
  border-radius: 8px;
  padding: 0.25rem;
}

.popup-section table {
  width: 100%;
}

.popup-section table tr th {
  text-align: left;
}

.popup-footer {
  margin:0.5rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.popup-footer div {
  flex: 0.8;
  background-color: rgba(43, 43, 43, 0.87);
  border-radius: 8px;
  display: flex;
  padding:0.5rem 0.5rem
}

.popup-footer .popup-footer__inner:first-child {
  margin-right: 1rem;
}

.popup-footer .popup-footer__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* font-size: 1rem; */
  font-weight: 700;
}

.popup-footer .popup-footer__inner img {
  width: 30px;
}

.autoComplete_wrapper {
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 3%;
  background: white;
  left: 2%;
  padding: 0.75rem 1rem;
  border-radius: 25px;
  box-shadow: 2px 2px 0.1em #222;
  color:crimson;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-search {
  margin-right:0.5rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.autoComplete_wrapper input {
  line-height: 1.8;
  border: 1px solid #ee6782;
  border-radius: 5px;
  width: 200px;
}

input {
  outline: none;
  border: 1px solid crimson;
}

div .list-item {
  padding:0.25rem;
  color:#000;
  cursor: pointer;
  border-radius: 3px;
}

.section-district {
  position: absolute;
  z-index: 2;
  top: 13%;
  background: rgba(34, 34, 34, 0.815);
  color: white;
  left: 2%;
  box-shadow: 0px 0px 0.2rem rgb(110, 110, 110);
  border-radius: 5px;
  width: 200px;
  padding: 0.5rem;
}

.section-district h6 {
  margin:0;
  font-size: 1rem;
  padding:0.5rem;
  text-align: left;
  font-weight: 800;
  text-transform: uppercase;
}

.section-district ul {
  list-style: none;
  width: auto;
  padding: 0;
  margin: 0px;
}

.section-district ul .list-item {
  color: #ddd;
}

ul .list-item:hover {
  background-color: #ee6782;
  color:white;
}


.widget-section {
  position: absolute;
  z-index: 2;
  top:3%;
  right:2%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.widget-group  {
  background-color: #222;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 0.2rem rgb(109, 109, 109);
}

.widget-group hr {
  width: 60%;
  background-color: #fff;
  margin:3px auto;
}

.widget-section .widget-group .widget-item {
  margin:0;
  box-shadow: none;
}

.widget-section .widget-item {
  border-radius: 8px;
  padding:0.5rem 0.5rem;
  font-size: 1.2em;
  background-color: #222;
  box-shadow: 0px 0px 0.2rem rgb(109, 109, 109);
  margin:0.5rem 0;
  cursor:pointer;

  display: flex;
  justify-content: flex;
  align-items: center;
}


.widget-item img {
  height: 20px;
}

.status-section {
  position: absolute;
  z-index: 2;
  bottom: 5%;
  left:15%;
  display: flex;
  flex-direction: column;
  background-color: #404751f3;
  width: 70%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0px 0px 0.2rem #222;
  padding:0.25rem;
}

.status-section__inner {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  width: auto;
}

.status-section .section-title {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.status-item {
  /* flex: 1; */
  width: 140px;
  text-align: center;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:rgb(211, 211, 211);
}

.status-item > div {
  display: flex;
  justify-content: space-evenly;
  width: 100px;
}

.status-item .seperator {
  width: 2px;
  height: 50px;
  background-color: #fff;
  margin-left: 0.5rem;
}

.status-item-title  {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.75rem;
  flex: 0.6;
}

.text-count  {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
  color:#2FC3CD;
  margin:0 0.25rem;
}

.text-count h5 {
  margin:0px;
  font-size: 1.8rem;
}

/* modal window */
.modal-window {
  position: absolute;
  top:3%;
  right:2%;
  z-index: 100;
  width:400px;
  height: 80vh;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 2px 2px 0.5rem #222;
}

.modal-header {
  border-bottom: 1.2px solid #222;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0.375rem;
}

.modal-header .close-button {
  cursor: pointer;
}

.modal-body {
  padding:0.5rem;
}

/* util classes */
.d-none {
  display: none !important;
}